# Distribution / packaging
*.egg-info/
*.egg
*.iml
*.pyc
__pycache__/
.coverage
.installed.cfg
.serverless
build/
cover
develop-eggs/
dist/
downloads/
.eggs/
eggs/
env/
htmlcov
.idea/
lib/
lib64/
node_modules
.Python
parts/
sdist/
var/

